<dx-dashboard-control style="display: block;width:100%;height:800px;" 
 endpoint="https://demos.devexpress.com/services/dashboard/api" 
  [workingMode]="workingMode"
  (onBeforeRender)="onBeforeRender($event)"
  >
    <dxo-data-request-options itemDataLoadingMode="OnDemand"></dxo-data-request-options>
    <dxo-extensions>
      <dxo-viewer-api [onItemWidgetOptionsPrepared]="onItemWidgetOptionsPrepared" 
        [onItemCaptionToolbarUpdated]="onItemCaptionToolbarUpdated">
      </dxo-viewer-api>
      <dxo-data-inspector [allowInspectAggregatedData]="true" [allowInspectRawData]="true"></dxo-data-inspector>
      <dxo-dashboard-export [allowExportDashboardItems]="true" [allowExportDashboard]="true"></dxo-dashboard-export>
      <dxo-data-source-wizard [enableCustomSql]="true" [allowCreateNewJsonConnection]="true"
        [wizardSettings]="{ enableOlapDataSource: true, enableFederationDataSource: true }"></dxo-data-source-wizard>
    </dxo-extensions>
</dx-dashboard-control>

<!-- endpoint="https://demos.devexpress.com/services/dashboard/api" -->

<!-- endpoint="dashboard-angular-app/src/assets/Dashboards/dummyData.json" -->

<!-- endpoint="http://localhost:3000/data"  -->

